* {
    padding: 0%;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    background-color: black;
    color: white;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: white;

}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
main {
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
}
}
.contact-section {
    max-width: 900px;
    margin: 3rem auto;
}
.contact-section h2 {
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    
    
}
.contact-form label {
    font-weight: bold;
}
.contact-form button {
    background-color: black;
    color: white;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: center;
    gap: 75px;
    border: 6px solid black;;
}
.footer img {
    height: 50px;
}
.footer a {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (max-width: 700px) {
    .contact-section {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .main-nav {
    flex-direction: column;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
       .footer {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}